
    <header>
        <h1 class="text-center">SKKU PPT</h1>
    </header>

    <form action="/rest_api/create_ppt/api" method="post">
      <!-- 토큰 삽입 for 보안 -->
        {% csrf_token %}
        <div class="form-group">
            <label for="topic">Topic:</label>
            <input type="text" class="form-control" id="topic" name="topic" required>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Create Slides</button>
    </form>


    <div class="loader" id="loader"></div>

    <script>
      document.getElementById('presentationForm').onsubmit = function() {
          document.getElementById('loader').style.display = 'block';
      };
  </script>