<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <!-- The link can be a call to action or redirect to any page -->
        © 2023 SKKU PPT: 
      <a class="text-dark footer-link" href="https://github.com/skkuppt" style="text-decoration: none;">
        GitHub
      </a>
    </div>
  </footer>
  <style>
    .footer-link:hover {
      font-weight: bold; /* Makes the text bold on hover */
      color: #495057; /* Changes the text color on hover */
      background-color: #e2e6ea; /* Light background color on hover */
      padding: 5px;
      border-radius: 5px; /* Optional: Rounds the corners of the hover background */
      transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    }
  </style>