.createSimply,
.skkuPptMaker {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.createSimply {
  top: 80px;
  font-size: 35px;
  font-weight: 500;
  color: #062bea;
  display: inline-block;
  width: 396px;
}
.groupChild,
.groupWrapper,
.login1Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 405px;
  height: 133px;
}
.groupChild,
.login1Inner {
  top: 294px;
  left: 175px;
}
.groupChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightgoldenrodyellow);
}
.enterEmailOr,
.groupFrame {
  position: absolute;
  top: 32.26%;
  left: 7.05%;
}
.groupFrame {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupContainer,
.groupItem {
  position: absolute;
  top: 73px;
  left: 0;
  width: 369px;
  height: 62px;
}
.groupItem {
  top: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightgoldenrodyellow);
}
.password {
  position: absolute;
  top: 8px;
  left: 14.25px;
  display: inline-block;
  width: 82.13px;
}
.invisible1Icon {
  position: absolute;
  top: 23px;
  left: 320px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.groupParent {
  top: 0;
  width: 369px;
  height: 62px;
}
.groupDiv,
.groupInner,
.groupParent {
  position: absolute;
  left: 0;
}
.groupDiv {
  top: 173px;
  width: 369px;
  height: 62px;
  color: #a3b1ff;
}
.groupInner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-yellowgreen);
  box-shadow: 0 4px 61px rgba(77, 71, 195, 0.4);
}
.login {
  position: absolute;
  top: 30.51%;
  left: 42.82%;
  font-weight: 500;
}
.groupWrapper1,
.signIn {
  position: absolute;
  left: 0;
}
.groupWrapper1 {
  top: 318px;
  width: 369px;
  height: 59px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.signIn {
  top: 0;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-black);
}
.instanceParent {
  position: absolute;
  top: 174px;
  left: 892px;
  width: 369px;
  height: 377px;
  font-size: var(--font-size-mini);
  color: var(--color-cornflowerblue-100);
}
.skkuIm1 {
  top: 10px;
  left: 10px;
  width: 99px;
  height: 100px;
  object-fit: cover;
}
.div,
.home,
.skkuIm1 {
  position: absolute;
}
.div {
  top: 23px;
  left: 56px;
  width: 119px;
  height: 120px;
}
.home {
  top: 123px;
  left: 1045px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-white);
}
.button {
  position: relative;
}
.component1 {
  position: absolute;
  top: 149px;
  left: 1135px;
  border-radius: var(--br-24xl);
  border: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 126px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop2,
.login1 {
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
}
.login1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.desktop2 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 50px;
  color: #408100;
  font-family: var(--font-poppins);
}

