.createSimply,
.skkuPptMaker {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.createSimply {
  top: 80px;
  font-size: 35px;
  font-weight: 500;
  color: #062bea;
  display: inline-block;
  width: 396px;
}
.groupChild,
.groupWrapper,
.login1Inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 405px;
  height: 133px;
}
.groupChild,
.login1Inner {
  top: 294px;
  left: 175px;
}
.groupChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightgoldenrodyellow);
}
.enterEmailOr,
.groupFrame {
  position: absolute;
  top: 32.26%;
  left: 7.05%;
}
.groupFrame {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupContainer,
.groupItem {
  position: absolute;
  left: 0;
  width: 369px;
  height: 64.63px;
}
.groupContainer {
  top: 76.1px;
  color: var(--color-cornflowerblue-200);
}
.groupItem {
  top: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightgoldenrodyellow);
}
.password {
  position: absolute;
  top: 20.85px;
  left: 29.25px;
  display: inline-block;
  width: 82.13px;
  height: 23.98px;
}
.groupDiv,
.groupInner,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 369px;
  height: 64.63px;
}
.groupDiv,
.groupInner {
  top: 180.34px;
}
.groupInner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-yellowgreen);
  box-shadow: 0 4px 61px rgba(77, 71, 195, 0.4);
}
.login {
  position: absolute;
  top: 30.51%;
  left: 42.82%;
  font-weight: 500;
}
.groupWrapper2,
.signUp {
  position: absolute;
  left: 0;
}
.groupWrapper2 {
  bottom: 0;
  width: 369px;
  height: 61.5px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.signUp {
  top: 0;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  width: 114px;
  height: 46.91px;
}
.invisible1 {
  position: absolute;
  top: 23.98px;
  left: 320px;
  width: 17px;
  height: 17.72px;
  overflow: hidden;
}
.emailValidation,
.groupWrapper3 {
  position: absolute;
  top: 256px;
  left: 0;
  width: 369px;
  height: 64.63px;
}
.emailValidation {
  top: 21px;
  left: 29px;
  display: inline-block;
  width: 159px;
  height: 24px;
}
.groupChild2,
.groupWrapper4 {
  position: absolute;
  top: 361px;
  left: 0;
  width: 369px;
  height: 64.63px;
}
.groupChild2 {
  top: 0;
  border-radius: var(--br-5xs);
  background-color: #969896;
  width: 91px;
  height: 30px;
}
.validation {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 46px);
  display: inline-block;
  width: 100px;
  height: 10.62px;
}
.groupWrapper6,
.groupWrapper7,
.instanceParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 30px;
}
.groupWrapper6,
.instanceParent {
  top: 379px;
  left: 399px;
}
.instanceParent {
  top: 174px;
  left: 892px;
  width: 507px;
  height: 591.5px;
  font-size: var(--font-size-mini);
  color: var(--color-cornflowerblue-100);
}
.skkuIm1 {
  top: 10px;
  left: 10px;
  width: 99px;
  height: 100px;
  object-fit: cover;
}
.div,
.home,
.skkuIm1 {
  position: absolute;
}
.div {
  top: 23px;
  left: 56px;
  width: 119px;
  height: 120px;
}
.home {
  top: 123px;
  left: 1045px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-white);
}
.desktop5,
.login1 {
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
}
.login1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.desktop5 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 50px;
  color: #408100;
  font-family: var(--font-poppins);
}

