.skkuIm1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 99px;
  height: 100px;
  object-fit: cover;
}
.component1,
.div {
  position: absolute;
  top: 23px;
  left: 56px;
  width: 119px;
  height: 120px;
}
.component1 {
  border: 1px solid var(--color-springgreen);
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 198px;
  left: 57px;
  border-radius: var(--br-3xs);
  background: linear-gradient(
      rgba(207, 254, 218, 0.41),
      rgba(207, 254, 218, 0.41)
    ),
    rgba(255, 255, 255, 0.41);
  box-sizing: border-box;
  width: 1325px;
  height: 675px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl);
}
.login1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.button {
  position: relative;
}
.component11,
.component12 {
  position: absolute;
  top: 919px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumaquamarine);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.component11 {
  left: 1216px;
  width: 166px;
  box-sizing: border-box;
}
.component12 {
  left: 1018px;
}
.desktop7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

